@charset "UTF-8";

* {
  margin: 0;
  padding: 0;

};

html, body {
  background-color: darkgray;
  
}

header {
  background-color: black;
  color: white;
  padding-top: 20px;
  
}

header > h1 {
  text-align: center;
  font-variant: small-caps;
}

header > p {
  text-align: center;
  

  padding-bottom: 20px;
}

header a, footer a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.normal {
  
}

footer {
  background: black;
  padding: 10px;
  text-align: center;
  color: white;
}